body{
    background: silver;
}
.app {
    width: 400px;
    height: 250px;
    background: cadetblue;
    margin: 5% 33%;
    text-align: center;
    padding: 0px 12px;
    border-radius: 12px;
    box-shadow: 11px 11px blue;
    
}
.btn{
    margin-top: 12px;
}
h2{
    padding: 23px;
    color: dimgray;
}
.erorr{
    color:red;
    font-weight: bold;
    
}